@{
    
}


<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-details">
            <p class="text-title m-0">Examen Técnico - Programador Jr</p>
            <p class="text-body text-center">Ismael Antonio Plaza Pacheco</p>
        </div>
        <a class="card-button d-flex justify-content-center align-items-center" asp-area="" asp-controller="OrdenDeCompra" asp-action="Index">
            <i class="bi bi-play-fill me-1 fs-5"></i> Iniciar Prueba
        </a>

    </div>
</div>



